fastapi
uvicorn[standard]
python-dotenv

langchain
langgraph
langchain-community
langchain-core
langchain-groq

faiss-cpu
numpy<2

pypdf
python-multipart

upstash-redis

psycopg2-binary
sqlalchemy

sentence-transformers==2.2.2
transformers==4.36.2

torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
