fastapi
uvicorn
python-dotenv
langchain
langgraph
langchain-community
langchain-core
langchain-groq
sentence-transformers
faiss-cpu
pypdf
redis
upstash-redis
psycopg2-binary
sqlalchemy
python-multipart
pydantic
