fastapi
uvicorn[standard]
python-multipart

langchain
langgraph
langchain-community
langchain-groq

sentence-transformers==2.7.0
faiss-cpu==1.14.2

pypdf
python-docx

pandas
numpy

sqlalchemy
psycopg2-binary
redis

python-dotenv
requests

pydantic

torch
transformers

